<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!--Heading & Scrape Data-->

<body>
    <div class="container">

        <div class="jumbotron text-center">
          <h1>Misson to Mars</h1>
          <br>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>

<!--Mars News-->

<div class="row" id="mars-news">
    <div class="col-md-12">
      <h3>Latest Mars News</h3>  
      <h5 class="heading">{{mars_info.news_title}}</h5>
      <small>{{mars_info.news_paragraph}}</small>
    </div>
  </div>

    
</body>
</html>