<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!--Heading & Scrape Data-->

<body>
    <div class="container">

        <div class="jumbotron text-center">
          <h1>Misson to Mars</h1>
          <br>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>

<!--Mars News-->

<div class="container">
    <div class="col-md-12">
      <h1>Latest Mars News</h1>  
      <h3 class="heading">{{ mars_info.news_title }}</h3>
      <p>{{ mars_info.news_paragraph }}</p>

<!--Feature Image-->
      <div class="row">
        <div class="col-sm-8">
          <h1>Featured Mars Image</h1>
          <br>
          <img src={{ mars_info.featured_image_url }} alt='featured_image_url', id='single-image'>
        </div>

<!--Mars Data-->
        <div class="col-sm-4">
          <h1>Mars Data</h1>
          <table class="table table-bordered" style="text-align:center">
            {{ mars_info.mars_data|safe }}
          </table>
        </div>
      </div>
    </div>
  </div>

<!--Hemisphere Images-->
    
<div>


</div>

</body>
</html>